<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>adult</title>
</head>

<body>
    <h1 style="color: grey;text-align: center">check the information</h1>
    <table class="table table-success table-striped">

        <img src="{{ url_for('static', filename='adultnight1.jpg') }}" style="background-repeat: no-repeat; 
        width:100%;height:100%;
        background-attachment: fixed;" />

<button onclick="window.open('http://127.0.0.1:5000/addnight')">Add a new night</button>
<button onclick="window.open('http://127.0.0.1:5000/adult/update')">Sign In or Add Notes</button>
<button onclick="window.open('http://127.0.0.1:5000/leftdate/update')">Add Leftdate</button>
<button onclick="window.open('http://127.0.0.1:5000' )">Return Home</button>
        <thead>
            <tr>
                {% for col in adultcols %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        {# this is a comment the line below prints the adult result #}
        <tbody>
            {% for result in adult %}
            <tr>

                {% for entry in result %}
                <td>{{entry}}</td>
                {% endfor %}

                {% endfor %}
            </tr>
        </tbody>
    </table>

</body>

</html>