<!DOCTYPE html>
<html lang="en">

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Information Add</title>
</head>

<body>
    <h1 style="color: grey;text-align: center">Update</h1>
    <style>
        fieldset {
            background-color: lightcyan;
        }

        legend {
            background-color: gray;
            color: white;
            padding: 5px 10px;
        }

        input {
            margin: 6px;
        }
    </style>

    <form action="/adult/update" method="POST">
        <fieldset id="update">
            <label for="familyname">Familyname</label>
            <input name="familyname" id=familyname type="text" />
            <label for="firstname">Firstname</label>
            <input name="firstname" id=firstname type="text" />


            <label for="activitynightid">Activity Night ID</label>
            <input name="activitynightid" list="Number" />

            <datalist id="Number">
                <option value="101" />
                <option value="102" />
                <option value="201" />
                <option value="202" />
            </datalist>

            <label for="attendancestatus"> Update your Status</label>
            <input name="attendancestatus" list="Status" />

            <datalist id="Status">
                <option value="Present" />
                <option value="Not Present" />
                <option value="Notified Absence" />

            </datalist>

            <label for="notes">Update your notes</label>
            <input name="notes" id=notes type="word" />



            <input type="submit" />
            <input type="reset" />

            <img src="{{ url_for('static', filename='notes.jpg') }}" style="background-repeat: no-repeat; 
        width:100%;height:100%;
        background-attachment: fixed;" />
        </fieldset>
    </form>
</body>

</html>