<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Information Update</title>
</head>

<body>
    <h1 style="color: grey;text-align: center">Update Left Date Information</h1>
    <style>
        fieldset {
            background-color: lightcyan;
        }

        legend {
            background-color: gray;
            color: white;
            padding: 5px 10px;
        }

        input {
            margin: 6px;
        }
    </style>

    <form action="/leftdate/update" method="POST">
        <fieldset id="leftupdate">
        <label for="familyname">Please enter your family name:</label>
        <input type="text" id="familyname" name="familyname" />
        <label for="firstname">Please enter your first name:</label>
        <input type="text" id="firstname" name="firstname" />
        <label for="leftdate">Left Date:</label>
        <input type="datetime" id="leftdate" name="leftdate" /> <br />
        <input type="submit" />
        <input type="reset" />
    </form>

        <img src="{{ url_for('static', filename='bye.jpg') }}" style="background-repeat: no-repeat; 
    width:100%;height:100%;
    background-attachment: fixed;" />
    </fieldset>
</body>

</html>